
body{
    text-align: center;

    margin: 0;
}

#menu{
    display: flex;
    flex-direction: column;
    
}

#menu a{
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    margin: 0 0 0.2rem;
    background: #eee;
}

#menu .emoji{
    font-size: 1.1em;
}

#menu .label{
    font-size: 0.5em;
    font-family: 'TwentiethCenturyMedium'
}

#page {
    display: flex;
    flex-direction: row;
}

#result{
    font-size: 6em;
    flex-grow: 1;
}

footer{
    padding: 1rem;
    position: fixed;
    bottom: 0;
    font-size: 0.8rem;
    width: 100vw;
    background-color: #ddd;
    font-family: 'TwentiethCenturyLightItalic'
}